.container {
  width: 710px;
}

body {
  backgroung: #ECE5B6;
}

header {
padding-top: 20px;
}

header img {
padding: 1em;
background:#FFA500;
}

section {
  margin-top: 1em;
  font-size:120%;
  padding: 20px; 
  background: #ECD672;
}

section h1 {
font-size=200%;
/* Link */

a {
  color: #A52A2A;
  text-decoration: none;
}

a:hover {
color: #ffff00;
text-decoration: underline;
}

a:visited {
color: #00ff00;
}

/* Navigation */

nav {
  float:right;
  background: #806517;
  padding: 0.1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  pading: 0;
  }
  
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  }
  
nav ul li a {
padding:0 5px;
font-weight:bold;
}

nav ul li a:visited {
  color:#000000;
}

nav ul li a:hover {
text-decoraction: underline;
}

/* Sign up button */

a.signup_button {
 margin-left: auto;
 margin-right: auto;
 display: black;
 text-align: center;
 width: 190px;
 color: #FFFF000;
 background: #A0C544;
 font-size: 150%;
 font-weight: bold;
 padding: 20px;
 }
 
 /* Round corners */
 
 .round {
  -moz-border-radius:    15px;
  -webkit-border-radius: 10px;
  border-rasius:         10px;
  }
  
  /* Footer */
  
  footer {
   text-align: center;
   margin-top: 10px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   }
   
   footer nav {
   float: nane;
   }
  